aside{
	form{
		background-color: @gray-light;
		padding: 20px 20px 5px 15px;
		margin-right: -(@grid-gutter-width/2+10px);
		margin-left: -@grid-gutter-width/2;
		input.form-control{
			border: 4px solid @gray-dark;
			border-radius: 7px;	
			width: 100%;
		}	
		label {
			font-weight: normal;
		}
		button.btn{
			height: 35px;
			background: @gray-dark;
			color: #fff;
			border: 4px solid @gray;
			border-radius: 7px;		
			padding-top: 3px;	
			:hover, :active{
				color: #fff;
			}	
		}
		.form-group label.control-label{
			text-align: left;
		}
	}
}