article li.media {
	background-color: @gray-light;
	padding: 20px 20px 20px 25px;
	margin-left: -(@grid-gutter-width/2+10);
	.media-left img{
		padding-top: 8px;
		border-radius: 50%;
	}
	.media-right img{
		padding-top: 20px;
	}
}
