#search-form{
	margin-top: 0px;
	.input-group{
		border: 6px solid #202128;
		border-radius: 10px;
		width: 100%;
		.input-group-addon{
			background-color: @gray;
			border-color: @gray;
		}
	}
	input[placeholder],
	[placeholder],
	*[placeholder] {
	  color: #000 !important;
	  font-size: 20px;
	}	
}