<div class="row">
    <article class="col-lg-8">
        <section>
            <header><h3>Today's foo:bar</h3></header>
            <item:list items="todayItems">
        </section>
        <section>
            <header><h3>Your favourites</h3></header>
            <item:list items="favItems">
        </section>
    </article>
    <aside class="col-lg-3">
        <section>
            <header><h3>Create foo:bar</h3></header>                          
        </section>
        <section>
            <header><h3>Created by you</h3></header>
            <myitem:list items="myItems">
        </section>                    
    </aside>
</div>