@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootstrap/less/theme.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "assets/fonts/font-awesome";
@import "../bower_components/angular-loading-bar/build/loading-bar.css";

/* Component LESS */
@import "home/home.less";
@import "common/common.less";
@import "results/results.less";
@import "components/backend-mock/backend-mock.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel a { cursor: pointer; }

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-darker:            #202128;
@gray-dark:              #333640;
@gray:                   #434753;
@gray-light:             #5a5f70;
@gray-lighter:           #bdbfc6;

@brand-primary:         #fff;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

//** Background color for `<body>`.
@body-bg:               #fff;
//** Global text color on `<body>`.
@text-color:            @gray-lighter;
@font-size-base:          15px;
@headings-color: #fff;
@headings-font-weight: 500;
@font-family-sans-serif:  "Ubuntu", Helvetica, Arial, sans-serif;

// Large screen / wide desktop
//** For `@screen-lg-min` and up.
@container-lg:                 @container-desktop;

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

header, article, aside .bg, footer{
	background-color: @gray-dark;
}

article {
	padding-bottom: 60px;
	margin-bottom: 8px;
}

header#main-header {
	height: 75px;
	margin-bottom: 8px;
	margin-top: 32px;
	padding-top: 15px;	
	.col-lg-8{
		padding-right:0px;
	}
	form{
		width: 350px;
	}
}

footer{
	height: 75px;
	margin-bottom: 32px;
	color: #fff;
	img {
		margin-top: 15px;
	}
	div {
		margin-top: 45px;
	}
}

h3{
	margin-top: 35px;
}

aside.col-lg-4{
	padding: 0 0 0 10px;
	.bg{
		padding: 1px 15px 60px 15px;
		margin: 0;
	}
}
